=line-under($color: $color-white)
    &:after
        content: " "
        display: block
        border-bottom: $border-size*2 $border-style-base $color
        margin-top: $margin-base


=line-around($top, $color: $color-white)
    display: inline-block
    position: relative

    &:before, &:after
        content: " "
        position: absolute
        top: $top
        width: $line-dimension
        border-bottom: $border-size $border-style-base $color

    &:before
        right: 100%
        margin-right: $margin-base

    &:after
        left: 100%
        margin-left: $margin-base


=transition-on($property, $duration, $timing-func)
    +transition-property($property)
    +transition-duration($duration)
    +transition-timing-function($timing-func)


=user-select-color($fg: $color-yellow, $bg: $color-black-bright)
    ::selection
        color: $fg
        background: $bg

    ::-moz-selection
        color: $fg
        background: $bg


=link-color($inactive: $color-white, $active: $color-red)
    a
        color: $inactive

        &:hover, &:focus, &:active
            color: $active


=border-radius($radius: $border-radius)
    +border-top-radius($radius)
    +border-right-radius($radius)
    +border-bottom-radius($radius)
    +border-left-radius($radius)


=code-box
    background: $color-black
    color: $color-white
    padding: $padding-medium
    margin: $margin-medium
    font-family: $font-stack-code
    font-size: $font-size-code
    border-width: $border-size
    border-style: $border-style-base
    border-color: $color-white
    +border-radius
