html
    overflow-x: hidden


body
    height: 100%
    max-height: 100%
    margin: 0em
    padding: 0em
    font-family: $font-stack-base
    font-size: $font-size-base
    color: $color-black
    text-align: center
    background-color: $color-white-bright
    border-top-width: 0.25em
    border-top-style: solid
    border-color: $color-red
    text-rendering: optimizelegibility
    +user-select(none)
    overflow-x: hidden


h1, h2, h3, h4, h5, h6
    color: $color-black-bright


h1
    font-size: $font-size-base*2.5
    +line-under


h2
    font-size: $font-size-base*2.5


h3
    font-size: $font-size-base*2.25


h4
    font-size: $font-size-base*2


h5
    font-size: $font-size-base*1.75


h6
    font-size: $font-size-base*1.5


blockquote
    margin: 1em 0.5em
    padding: 1em 0.5em

    &:before
        color: $color-yellow
        content: "\2023\2023\2023"
        font-size: 2em
        line-height: 0.1em
        margin-right: 0.25em
        vertical-align: -0.2em

    p
        display: inline


.browserupgrade
    position: fixed
    width: 100%
    top: 0em
    color: $color-yellow
    background: $color-red
    z-index: 2
    +link-color($color-yellow-bright, $color-green-bright)
