// $bg: #09223F;
// $fg: #FFEFFF;
// $border: #888;
// $bg-line: #EFEFEF;
// $fg-line: #888;
// $entity: #FFDD00;
// $keyword: #FF9D00;
// $constant: #FF628C;
// $string: #3AD900;
// $comment: #0088FF;
// $regex: #80FFC2;
// $variable: #CCCCCC;
//
// $bg: $color-black;
// $fg: $color-white-bright;
// $bg-line: $color-black;
// $fg-line: $color-black-bright;
//
// $border: $color-blue;
// $comment: $color-black-bright;
// $constant: $color-magenta-bright;
// $entity: $color-yellow;
// $keyword: $color-red-bright;
// $regex: $color-green;
// $string: $color-green-bright;
// $variable: $color-blue;
//
//
// .CodeRay {
// 	background-color: $bg;
// 	color: $fg;
// 	border: $border-size solid $border;
// 	overflow: auto;
//     font-family: $font-stack-code;
//     font-size: $font-size-code;
// 	// margin: $margin-element;
//
// 	pre {
// 	  margin: 0em;
// 	  padding: $padding-medium;
// 	}
//
// 	span {
//         white-space: pre;
//         border: 0em;
//         padding: $padding-small;
//     }
//
// 	table {
// 		border-collapse: collapse;
//         width: 100%;
//         // padding: $padding-small;
// 		td {
//             // padding: $padding-small;
//             vertical-align: top;
//         }
// 	}
//
// 	.line-numbers {
// 		background-color: $bg-line;
//         text-align: left;
//         margin-right: $margin-small;
//         padding: 0em;
// 		a {
// 			color: $fg-line;
// 			text-decoration: none;
// 			&:target {
//                 color: $bg-line !important;
//                 background: $fg-line !important;
//             }
// 		}
//
// 		.highlighted {
// 			color: red !important;
// 			a {
//                 color: red !important;
//             }
// 		}
// 	}
//
// 	// span.line-numbers { padding: 0px 4px; }
// 	.line { display: block; float: left; width: 100%; }
//
// 	.code {
// 		width: 100%;
// 		pre { overflow: auto; }
// 	 }
//
// 	.debug { color: white !important; background: blue !important; }
//
// 	.annotation { color:#007 }
// 	.attribute-name { color:#b48 }
// 	.attribute-value { color:#700 }
// 	.binary { color:#509 }
//
// 	.char {
// 		color:#D20;
// 		.content { color:#D20 }
// 		.delimiter { color:#710 }
// 	}
//
// 	.class { color:$entity; }
//
// 	.class-variable { color:#369 }
// 	.color { color:#0A0 }
//
// 	.comment {
// 		color:$comment;
// 		.char { color:#444 }
// 		.delimiter { color:#444 }
// 	}
//
// 	.complex { color:#A08 }
// 	.constant { color:$constant; font-weight:bold }
// 	.decorator { color:#B0B }
// 	.definition { color:#099; font-weight:bold }
// 	.delimiter { color:black }
// 	.directive { color:#088; font-weight:bold }
// 	.doc { color:#970 }
// 	.doc-string { color:#D42; font-weight:bold }
// 	.doctype { color:#34b }
// 	.entity { color:#800; font-weight:bold }
// 	.error { color:#F00; background-color:#FAA }
// 	.escape  { color:#666 }
// 	.exception { color:#C00; font-weight:bold }
// 	.float { color:$constant }
//
// 	.function { color:$entity; }
//
// 	.global-variable { color:#d70 }
// 	.hex { color:#02b }
// 	.imaginary { color:#f00 }
// 	.include { color:#B44; font-weight:bold }
// 	.inline { background-color: hsla(0,0%,0%,0.07); color: black }
// 	.inline-delimiter { font-weight: bold; color: #666 }
// 	.instance-variable { color:#33B }
// 	.integer  { color:$constant }
//
// 	.key {
// 		color: #606;
// 		.char { color: #60f }
// 		.delimiter { color: #404 }
// 	}
//
// 	.keyword { color:$keyword; font-weight:bold }
//
// 	.label { color:#970; font-weight:bold }
// 	.local-variable { color:$variable }
// 	.namespace { color:#707; font-weight:bold }
// 	.octal { color:#40E }
// 	.operator { }
// 	.predefined { color:#369; font-weight:bold }
// 	.predefined-constant { color:#069 }
// 	.predefined-type { color:#0a5; font-weight:bold }
// 	.preprocessor { color:#579 }
// 	.pseudo-class { color:#00C; font-weight:bold }
//
// 	.regexp {
// 		.content, .delimiter { color:$regex }
// 		.modifier { color:#C2C }
// 	}
//
// 	.reserved { color:#080; font-weight:bold }
//
// 	.shell {
// 		background-color:hsla(120,100%,50%,0.06);
// 		.content { color:#2B2 }
// 		.delimiter { color:#161 }
// 	}
//
// 	.string {
// 		background-color:hsla(0,100%,50%,0.05);
// 		.char { color: #b0b }
// 		.content, .delimiter { color: $string; }
// 		.modifier { color: #E40 }
// 	}
//
// 	.symbol {
// 		color:#A60;
// 		.content { color:#A60 }
// 		.delimiter { color:#630 }
// 	}
//
// 	.tag { color:#070 }
// 	.type { color:#339; font-weight:bold }
// 	.value { color: #088; }
// 	.variable  { color:#037 }
//
// 	.insert {
// 		background: hsla(120,100%,50%,0.12);
// 		.eyecatcher { background-color: hsla(120,100%,50%,0.2); border: 1px solid hsla(120,100%,25%,0.5); margin: -1px; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
// 		.insert { color: #0c0; background:transparent; font-weight:bold }
// 	}
//
// 	.delete {
// 		background: hsla(0,100%,50%,0.12);
// 		.eyecatcher { background-color: hsla(0,100%,50%,0.2); border: 1px solid hsla(0,100%,45%,0.5); margin: -1px; border-bottom: none; border-top-left-radius: 5px; border-top-right-radius: 5px; }
// 		.delete { color: #c00; background:transparent; font-weight:bold }
// 	}
//
// 	.change {
// 		color: #bbf; background: #007;
// 		.change { color: #88f }
// 	}
//
// 	.head {
// 		color: #f8f; background: #505;
// 		.filename { color: white; }
// 		.head { color: #f4f }
// 	}
// }
// table.CodeRay {
//   width: auto;
// }
//
// #main .example {
//   width: 960px;
//   overflow: auto;
// }
//
// #main .CodeRay pre {
//   font-size: 13px ! important;
//   line-height: 15px;
// }


.CodeRay {
  // background-color: #000;
  // font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  // font-size: 10px;
  // color: #F8F8F8;
  // padding: 1em 0px 1em 1em;
  @include code-box;
}

.CodeRay pre {
  margin: 0em;
}

// div.CodeRay { }
span.CodeRay { white-space: pre; border: 0em; padding: $padding-small; background: $color-white-bright; }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td {
  padding: 1em 0.5em;
  vertical-align: top;
}

.CodeRay .line-numbers, .CodeRay .no {
  background-color: #ECECEC;
  color: #AAA;
  text-align: right;
}

.CodeRay .line-numbers a {
  color: #AAA;
}

.CodeRay .line-numbers tt { font-weight: bold }
.CodeRay .line-numbers .highlighted { color: red }
.CodeRay .line { display: block; float: left; width: 100%; }
.CodeRay span.line-numbers { padding: 0px 4px }
.CodeRay .code { width: 100% }

ol.CodeRay { font-size: 10pt }
ol.CodeRay li { white-space: pre }

.CodeRay .code pre { overflow: auto }
.CodeRay .debug { color:white ! important; background:blue ! important; }

.CodeRay .annotation { color:#007 }
.CodeRay .attribute-name { color:#f08 }
.CodeRay .attribute-value { color:#700 }
.CodeRay .binary { color:#509; font-weight:bold }
.CodeRay .comment  { color:#5F5A60;}
.CodeRay .char { color:#04D }
.CodeRay .char .content { color:#04D }
.CodeRay .char .delimiter { color:#039 }
.CodeRay .class { color:#9B703F; font-weight:bold }
.CodeRay .complex { color:#A08; font-weight:bold }
.CodeRay .constant { color:#9B5C2E; }
.CodeRay .color { color:#0A0 }
.CodeRay .class-variable { color:#7587A6 }
.CodeRay .decorator { color:#B0B; }
.CodeRay .definition { color:#099; font-weight:bold }
.CodeRay .directive { color:#088; font-weight:bold }
.CodeRay .delimiter { color:black }
.CodeRay .doc { color:#970 }
.CodeRay .doctype { color:#34b }
.CodeRay .doc-string { color:#D42; font-weight:bold }
.CodeRay .escape  { color:#666; font-weight:bold }
.CodeRay .entity { color:#800; font-weight:bold }
.CodeRay .error { color:#F00; }
.CodeRay .exception { color:#C00; font-weight:bold }
.CodeRay .filename { color:#099; }
.CodeRay .function { color:#dacf85; }
.CodeRay .global-variable { color:#9a859c; font-weight:bold }
.CodeRay .hex { color:#058; font-weight:bold }
.CodeRay .integer  { color:#ddf2a3; }
.CodeRay .include { color:#B44; font-weight:bold }
.CodeRay .inline { color: #DAEFA3 }
.CodeRay .inline .inline {  }
.CodeRay .inline .inline .inline {  }
.CodeRay .inline .inline-delimiter { color: #DAEFA3; }
.CodeRay .inline-delimiter { color: #D14; }
.CodeRay .important { color:#f00; }
.CodeRay .interpreted { color:#B2B; font-weight:bold }
.CodeRay .instance-variable { color:#7587A6 }
.CodeRay .label { color:#970; font-weight:bold }
.CodeRay .local-variable { color:#963 }
.CodeRay .octal { color:#40E; font-weight:bold }
.CodeRay .operator { }
.CodeRay .predefined-constant {  font-weight:bold }
.CodeRay .predefined { color:#369; font-weight:bold }
.CodeRay .preprocessor { color:#579; }
.CodeRay .pseudo-class { color:#00C; font-weight:bold }
.CodeRay .predefined-type { color:#074; font-weight:bold }
.CodeRay .reserved, .keyword  { color:#CDA869; font-weight:bold }

.CodeRay .key { color: #808; }
.CodeRay .key .delimiter { color: #606; }
.CodeRay .key .char { color: #80f; }
.CodeRay .value { color: #088; }

.CodeRay .regexp .content { color:#808 }
.CodeRay .regexp .delimiter { color:#404 }
.CodeRay .regexp .modifier { color:#C2C }
.CodeRay .regexp .function  { color:#404; font-weight: bold }

.CodeRay .string { color: #8F9D6A; }
.CodeRay .string .string {  }
.CodeRay .string .string .string {  }
.CodeRay .string .content { color: #8F9D6A; }
.CodeRay .string .char { color: #8F9D6A; }
.CodeRay .string .delimiter { color: #8F9D6A; }

.CodeRay .shell { color:#D14 }
.CodeRay .shell .content { }
.CodeRay .shell .delimiter { color:#D14 }

.CodeRay .symbol { color:#CF6A4C }
.CodeRay .symbol .content { color:#A60 }
.CodeRay .symbol .delimiter { color:#630 }

.CodeRay .tag { color:#070 }
.CodeRay .tag-special { color:#D70; font-weight:bold }
.CodeRay .type { color:#339; font-weight:bold }
.CodeRay .variable  { color:#036 }

.CodeRay .insert { background: #afa; }
.CodeRay .delete { background: #faa; }
.CodeRay .change { color: #aaf; background: #007; }
.CodeRay .head { color: #f8f; background: #505 }

.CodeRay .insert .insert { color: #080; font-weight:bold }
.CodeRay .delete .delete { color: #800; font-weight:bold }
.CodeRay .change .change { color: #66f; }
.CodeRay .head .head { color: #f4f; }
