---
layout: default
title: Home
---

<div class="home">

    <h1 class="home-title">Hello!</h1>

    <h4 class="home-sub-title">My name is Rahul Thakur.</h4>

    <p class="home-blurb">I believe an application should be efficient, as well as aesthetic; and the key to both is simplicity.<br/> My research interests are User Experience, Human-Computer Interaction, Mobile Development and Game Design.</p>

    <p class="home-note">* This site is under construction.</p>
</div>



<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
