!="---\n"
!="layout: default\n"
!="---\n\n"


div.post
    span.post-date
        !="{{ page.date | date_to_string }}"

    h1.post-title
        !="{{ page.title }}"

    !="{{ content }}"

div.related
    h4.related-title Related Posts

    ul.related-posts-list
        !="{% for post in site.related_posts limit:3 %}"
            li
                h6
                    a(href!="{{ post.url }}")
                        !="{{ post.title }}"
                        small
                            !="{{ post.date | date_to_string }}"
        !="{% endfor %}"
