@charset "utf-8";


// Typography
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$large-font-size:  $base-font-size * 1.25;
$small-font-size:  $base-font-size * 0.85;
$base-line-height: 1.5;

$code-font:        "Andale Mono", Menlo, Monaco, "Courier New", monospace;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Page Styles
$body-color:       #515151;
$body-bg-color:    #fff;

// Links
$link-color:       #268bd2;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
      @content;
  }
}

@mixin font($size) {
  font-size: 0px + $size;
  font-size: 0rem + $size / $base-font-size;
  line-height: 0 + round($base-font-size / $size*10000) / 10000;
}

@mixin rounded($radius:4px) {
  -webkit-border-radius : $radius;
  -moz-border-radius : $radius;
  border-radius : $radius;
}


// Import partials from `sass_dir` (defaults to `_sass`)
/*
@import
  "base",
  "layout",
  //"syntax-highlighting",
  //"nav",
  "pygments",
  "coderay",
  "gist",
  "r"
;
*/
/*
    "type",
    "syntax",
    "code",
    "layout",
    "masthead",
    "posts",
    "pagination",
    "message",
    "r";
*/
@import
    "base",
    "r";
