@charset "utf-8"


// vendor ---------------------------------------------------------------------
@import "vendor/master"


// image resources ------------------------------------------------------------
$logo:                   "/assets/img/logo.png"


// colour palette -------------------------------------------------------------
$color-white:            #C0C5CE
$color-white-bright:     #EFF1F5

$color-black:            #2B303B
$color-black-bright:     #65737E

$color-red:              #BF616A
$color-red-bright:       #D08770

$color-green:            #A3BE8C
$color-green-bright:     #EFFAB4
// D1F2A5

$color-blue:             #8FA1B3
$color-blue-bright:      #E0EFF1

$color-yellow:           #EBCB8B
$color-yellow-bright:    #FAFBD5
// F5D9A2

$color-magenta:          #755E6F
$color-magenta-bright:   #B48EAD

$color-cyan:             #96B5B4
$color-cyan-bright:      #DAF2EC


// typography -----------------------------------------------------------------
$font-stack-base:        "Lato", "Gibson", $helvetica
$font-size-base:         16px
$font-stack-code:        "Andale Mono", Menlo, $monospace
$font-size-code:         14px
$line-height-base:       1.5
$spacing-unit:           30px


$large-font-size:  $font-size-base * 1.25
$small-font-size:  $font-size-base * 0.85
$padding-base:           25px
$margin-base:            80px
$logo-dimension:         60px
$line-dimension:         90px


// media-query ----------------------------------------------------------------
$display-threshold:      800px


// number of nav items --------------------------------------------------------
$total-nav-items:        4


// R --------------------------------------------------------------------------
@import "base/master"
