@charset "utf-8"


// vendor ---------------------------------------------------------------------
@import "0-vendor/master"


// colour palette -------------------------------------------------------------
$color-white:            #C0C5CE
$color-white-bright:     #EFF1F5

$color-black:            #2B303B
$color-black-bright:     #65737E

$color-red:              #BF616A
$color-red-bright:       #F99157

$color-green:            #A3BE8C
$color-green-bright:     #9C9

$color-blue:             #8FA1B3
$color-blue-bright:      #69C

$color-yellow:           #FC6
$color-yellow-bright:    #EBCB8B

$color-magenta:          #B48EAD
$color-magenta-bright:   #C9C

$color-cyan:             #96B5B4
$color-cyan-bright:      #6DDCE4


// style directives -----------------------------------------------------------
// base dimensions
$em-base:                1rem
$px:                     $em-base/16
$modular-scale-ratio:    $major-third

// typography
$font-stack-base:        "Lato", "Gibson", $helvetica
$font-size-base:         $em-base
$line-height-base:       1.5

$font-stack-code:        "Andale Mono", Menlo, $monospace
$font-size-code:         $font-size-base*0.875
$line-height-code:       $line-height-base*0.8

// paddings
$padding-base:           $em-base/4
$padding-medium:         modular-scale(2, $padding-base)
$padding-large:          modular-scale(4, $padding-base)

// margins
$margin-base:            $em-base/4
$margin-medium:          modular-scale(4, $margin-base)
$margin-large:           modular-scale(8, $margin-base)

// borders & lines
$border-size:            $px
$border-radius:          $em-base/4
$border-style-base:      solid
$border-style-alt:       dashed
$line-dimension:         modular-scale(5)

// time
$time-duration-short:    0.25s
$time-duration-long:     0.75s
$timing-func-base:       $ease-out-quad
$timing-func-alt:        $ease-in-out-expo

// media-query
$display-threshold:      $em-base*50

// assets
$logo-dimension:         modular-scale(3)
$logo-src:               "/assets/img/logo.png"
$rss-src:                "/assets/img/rss.png"

// nav items
$total-nav-items:        4


// set vendor variables -------------------------------------------------------
// // Typography
// $base-font-family:       $font-stack-base
// $heading-font-family:    $font-stack-base
//
// // Font Sizes
// $base-font-size:         $font-size-base
//
// // Line height
// $base-line-height:       $line-height-base
// $heading-line-height:    $line-height-base
//
// // Other Sizes
// $base-border-radius:     $em-base/4
// $base-spacing:           $line-height-base*1em
// $small-spacing:          $base-spacing/2
// $base-z-index:           0
//
// // Colors
// $blue:                   #477DCA
// $dark-gray:              $color-black-bright
// $medium-gray:            $color-blue
// $light-gray:             $color-white
//
// // Font Colors
// $base-background-color:  $color-white-bright
// $base-font-color:        $color-black
// $action-color:           $blue
//
// // Border
// $base-border-color:      $light-gray
// $base-border:            0.01em solid $base-border-color
//
// // Forms
// $form-box-shadow:        inset 0 0.1em 0.2em rgba($color-black-bright, 0.06)
// $form-box-shadow-focus:  $form-box-shadow, 0 0 0.4em adjust-color($action-color, $lightness: -5%, $alpha: -0.3)
//


// R --------------------------------------------------------------------------
@import "1-base/master"
@import "2-content/master"
@import "3-page/master"
