.content-404
    width: 100%
    text-align: center

    .title-404
        font-size: $font-size-base*4
        color: $color-red
        text-align: center
        font-weight: bold

        &:after
            content: none

    .svg-404
        .outer-path
            fill: $color-black-bright

        .red-button
            fill: $color-red

        .yellow-button
            fill: $color-yellow-bright

        .green-button
            fill: $color-green-bright

        .eyes
            fill: $color-blue

        .mouth
            fill: $color-black-bright
