.animation-wrapper
    width: 100%
    background: $color-white-bright
    position: absolute
    z-index: 2
    top: $margin-large


.content
    // margin: $margin-large 0em
    +user-select(text)
    +user-select-color
    text-align: justify
    width: 100%

    +small-screens
        text-align: left
        +outer-container(90%)

    +medium-screens
        +outer-container(75%)

    +large-screens
        +outer-container(60%)
