#toggle
    display: none

.toggle-controller
    display: none

.nav-list
    padding: $padding-base
    top: 0px
    z-index: 1
    position: absolute
    display: block
    width: 100%

.animator
    .animate
        background: $color-white-bright
        position: absolute
        z-index: 2
        top: $padding-base*2.5
        +animation(drop-nav-bar 0.75s $ease-in-out-expo 1)

    +keyframes(drop-nav-bar)
        from
            +transform(translateY(-$padding-base*2.5))
        to
            +transform(translateY(0px))


// viewport <= display-threshold ----------------------------------------------
@include media(max-width $display-threshold)
    .toggle-controller
        display: block
        position: relative
        color: $color-white
        padding: $padding-base $padding-base 0 0
        text-align: right
        margin-bottom: 0px
        cursor: pointer

    .nav-list
        top: $padding-base*1.25

    #toggle
        &:checked
            ~ .animator
                .animate
                    +nav-animation($total-nav-items*24px + $padding-base*2.5)

        &:not(:checked)
            ~ .animator
                .animate
                    +nav-animation($padding-base*2.5)


// viewport > display-threshold -----------------------------------------------
@include media(min-width $display-threshold+1)
    .nav-item
        display: inline-block
        padding: 0 $padding-base
